.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 75px;
}

.fa-linkedin {
    background: #282c34;
    color: #EEF2EF;
}

.fa-github {
    background: #282c34;
    color: #EEF2EF;
}

.fa-envelope {
    background: #282c34;
    color: #EEF2EF;
}