.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
}

.fa-linkedin {
    background: white;
    color: black;
}

.fa-github {
    background: white;
    color: black;
}

.fa-envelope {
    background: white;
    color: black;
}